* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  shape-rendering: geometricPrecision;
}

:root {
  --colors-background: #050505;
  --colors-background-body: #0a0a0a;
  --colors-container-background: #0f0f0f;
  --colors-text-gray-1: #afafaf;
  --colors-text-gray-2: #b4b4b4;
  --colors-text-gray-3: #6d6d6d;

  --color-border-gray: #131313;



  --bg-grad-color1:#500411;
  --bg-grad-color2:#660a19;
  --background-gradient: linear-gradient(0deg, var(--colors-background)75%, var(--bg-grad-color1)100% , var(--bg-grad-color2)100%) ;

}

body {
  background-color: var(--colors-background-body);
  font-family: "Inter Tight", sans-serif;
}

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
  padding: 8em;
}
.contenedorReproductor {
  grid-column: 1 / 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colors-background);
  border-radius: 1em;
  border: 1px solid var(--color-border-gray);
  color: var(--colors-text-gray-1);
  overflow: hidden;
  box-shadow: 0px 10px 30px -8px rgb(0, 0, 0);
  background: var(--background-gradient);
}

.containerList {
  margin: 1em 1em;
  /* background-color: red; */
  
}

.overflowList {
  overflow: scroll;
  overflow-x: hidden;
  margin: 0.3em;
  background-color: rgba(0, 0, 0, 0.144);
  backdrop-filter: blur(50px) brightness(1.8);
  border-radius:0.5em;
  
}

ul,
li {
  list-style-type: none;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  padding: 0em 1em;
  gap: 1em;
  transition: 0.1s ease-in-out;
  color: var(--colors-text-gray-2);
  font-weight: 500;
  letter-spacing: 0.05em;
  word-spacing: 0.07em;
}

li:hover {
  background-color: var(--colors-container-background);
  border-radius: 0.3em;
  box-shadow: 0px 0px 0px 1px #242424;
  color: var(--colors-text-gray-1);
}

.itemInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
}

.playIconContainer {
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.numberContainer {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-text-gray-3);
  font-weight: 300;

}

.controlesDelReproductor {
  background-color: var(--colors-container-background);
  display: flex;
  align-items: center;
  height: 140px;
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.6em;
  box-shadow: inset 0px 0px 0px 1px #181818;
  gap: 1em;
 
}
.controls{
  height: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.3em;
  width: 100%;
  background-color: blueviolet;

}

img{
  border-radius: 0.3em;
  border: 1px solid var(--color-border-gray);
  box-sizing: content-box;
}


::-webkit-scrollbar-thumb {
  background: var(--color-border-gray);
  border-radius: 100px;
  box-shadow: 0px 2px 5px -1px black, inset 0px 0px 0px 1px #181818;
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--colors-background);
}
